
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/func_code.py
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/setup_symspell/3ca7987587dce87cb36c1b5895a37ad3/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/setup_symspell/3ca7987587dce87cb36c1b5895a37ad3/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/setup_symspell/func_code.py
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/140bde685283f2acc28173f0a1bf6fe0/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/140bde685283f2acc28173f0a1bf6fe0/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/func_code.py
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/ed30a8b9346cce36fa53d08962906562/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/ed30a8b9346cce36fa53d08962906562/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/func_code.py
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/load_and_aggregate_monthly_mortality/func_code.py
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/df60a9da05a679986bb0f9db5175a7c7/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/df60a9da05a679986bb0f9db5175a7c7/output.pkl
.DS_Store
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/0153a5b9143126191660243ca2785a99/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/0153a5b9143126191660243ca2785a99/metadata.json
lightning_logs/tft_fear_model/version_2/projector_config.pbtxt
lightning_logs/tft_fear_model/version_2/hparams.yaml
lightning_logs/tft_fear_model/version_2/events.out.tfevents.1744713310.MacBookPro.6101.0
lightning_logs/tft_fear_model/version_2/checkpoints/epoch=30-step=1085.ckpt
lightning_logs/tft_fear_model/version_2/01085/year/tensors.tsv
lightning_logs/tft_fear_model/version_2/01085/year/metadata.tsv
lightning_logs/tft_fear_model/version_2/01085/series_id/tensors.tsv
lightning_logs/tft_fear_model/version_2/01085/series_id/metadata.tsv
lightning_logs/tft_fear_model/version_2/01085/month/tensors.tsv
lightning_logs/tft_fear_model/version_2/01085/month/metadata.tsv
lightning_logs/tft_fear_model/version_1/projector_config.pbtxt
lightning_logs/tft_fear_model/version_1/hparams.yaml
lightning_logs/tft_fear_model/version_1/events.out.tfevents.1744713167.MacBookPro.5848.0
lightning_logs/tft_fear_model/version_1/checkpoints/epoch=30-step=1085.ckpt
lightning_logs/tft_fear_model/version_1/01085/year/tensors.tsv
lightning_logs/tft_fear_model/version_1/01085/year/metadata.tsv
lightning_logs/tft_fear_model/version_1/01085/series_id/tensors.tsv
lightning_logs/tft_fear_model/version_1/01085/series_id/metadata.tsv
lightning_logs/tft_fear_model/version_1/01085/month/tensors.tsv
lightning_logs/tft_fear_model/version_1/01085/month/metadata.tsv
lightning_logs/tft_fear_model/version_0/projector_config.pbtxt
lightning_logs/tft_fear_model/version_0/hparams.yaml
lightning_logs/tft_fear_model/version_0/events.out.tfevents.1744712827.MacBookPro.5224.0
lightning_logs/tft_fear_model/version_0/checkpoints/epoch=29-step=1050.ckpt
lightning_logs/tft_fear_model/version_0/01050/year/tensors.tsv
lightning_logs/tft_fear_model/version_0/01050/year/metadata.tsv
lightning_logs/tft_fear_model/version_0/01050/series_id/tensors.tsv
lightning_logs/tft_fear_model/version_0/01050/series_id/metadata.tsv
lightning_logs/tft_fear_model/version_0/01050/month/tensors.tsv
lightning_logs/tft_fear_model/version_0/01050/month/metadata.tsv
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/d30c4e65904cb0c0078ffc062deca152/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/d30c4e65904cb0c0078ffc062deca152/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/48af90dc973ea5c77eb141c4e4b3af3b/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_ecco_tei_files/48af90dc973ea5c77eb141c4e4b3af3b/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/load_and_aggregate_monthly_mortality/fc2e81d133742b494fe0612064379c9e/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/load_and_aggregate_monthly_mortality/fc2e81d133742b494fe0612064379c9e/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/c58fd555374a4e9299e787c7e9f918d1/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/c58fd555374a4e9299e787c7e9f918d1/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_yearly_sentiment_and_merge_monthly/func_code.py
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_yearly_sentiment_and_merge_monthly/c971222d64fc6a274c971697950cc8d1/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_yearly_sentiment_and_merge_monthly/c971222d64fc6a274c971697950cc8d1/metadata.json
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_yearly_sentiment_and_merge_monthly/2ed17b15a6e172b26fc9af059bd6f8f4/output.pkl
cache_dir_monthly_macberth_filtered/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_yearly_sentiment_and_merge_monthly/2ed17b15a6e172b26fc9af059bd6f8f4/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_weekly_sentiment_and_merge/845eec9969e64c1b570476edd25d8283/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_weekly_sentiment_and_merge/845eec9969e64c1b570476edd25d8283/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_weekly_sentiment_and_merge/func_code.py
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/3ff1c0af48cdc9dd1ba58e64eb6679fc/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/3ff1c0af48cdc9dd1ba58e64eb6679fc/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/d41b64860efc45d3457b1d8d87370a3c/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/d41b64860efc45d3457b1d8d87370a3c/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/func_code.py
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/load_and_aggregate_weekly_mortality/a6dab3573cb7362ea8d7401ad3d7f7c1/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/load_and_aggregate_weekly_mortality/a6dab3573cb7362ea8d7401ad3d7f7c1/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/load_and_aggregate_weekly_mortality/func_code.py
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_old_bailey_papers/8e7aca1c4a8629ca703cd3f3d36357e0/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_old_bailey_papers/8e7aca1c4a8629ca703cd3f3d36357e0/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_old_bailey_papers/a41f81abef8d11ca1a3abe43137b4ebe/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_old_bailey_papers/a41f81abef8d11ca1a3abe43137b4ebe/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/parse_old_bailey_papers/func_code.py
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/39a0c4c4c237f31af695251c7c03db64/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/39a0c4c4c237f31af695251c7c03db64/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/func_code.py
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/setup_symspell/3ca7987587dce87cb36c1b5895a37ad3/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/setup_symspell/3ca7987587dce87cb36c1b5895a37ad3/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/setup_symspell/func_code.py
lightning_logs/tft_fear_model_weekly/version_0/checkpoints/epoch=8-step=1197.ckpt
lightning_logs/tft_fear_model_weekly/version_0/events.out.tfevents.1744819337.MacBookPro.67663.0
lightning_logs/tft_fear_model_weekly/version_0/hparams.yaml
lightning_logs/tft_fear_model_weekly/version_0/checkpoints/epoch=9-step=1330.ckpt
lightning_logs/tft_fear_model_weekly/version_0/03059/series_id/metadata.tsv
lightning_logs/tft_fear_model_weekly/version_0/03059/series_id/tensors.tsv
lightning_logs/tft_fear_model_weekly/version_0/03059/week_of_year/metadata.tsv
lightning_logs/tft_fear_model_weekly/version_0/03059/week_of_year/tensors.tsv
lightning_logs/tft_fear_model_weekly/version_0/03059/year/metadata.tsv
lightning_logs/tft_fear_model_weekly/version_0/03059/year/tensors.tsv
lightning_logs/tft_fear_model_weekly/version_0/checkpoints/epoch=22-step=3059.ckpt
lightning_logs/tft_fear_model_weekly/version_0/projector_config.pbtxt
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_combined_metrics/382938c02d63dad153648e8c9ff45ad6/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_combined_metrics/382938c02d63dad153648e8c9ff45ad6/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_combined_metrics/func_code.py
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_weekly_sentiment_and_merge/9ba5f4c7011dfeb03d0e816cca51fecc/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/aggregate_weekly_sentiment_and_merge/9ba5f4c7011dfeb03d0e816cca51fecc/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/17667ef18d69aec798a361165ffc739b/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/calculate_fear_scores_dataframe/17667ef18d69aec798a361165ffc739b/output.pkl
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/7366c5f97b027ae599342d9254f75c49/metadata.json
cache_dir_weekly_oldbailey/joblib/__main__--Users-sebo-Desktop-AUC-Semester 6-Capstone-Seb Olsen Capstone Repo-Fear-and-Mortality-Capstone-Script2/preprocess_text_dataframe/7366c5f97b027ae599342d9254f75c49/output.pkl
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/03696/series_id/metadata.tsv
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/03696/series_id/tensors.tsv
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/03696/week_of_year/metadata.tsv
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/03696/week_of_year/tensors.tsv
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/03696/year/metadata.tsv
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/03696/year/tensors.tsv
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/checkpoints/epoch=27-step=3696.ckpt
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/events.out.tfevents.1745056996.sebs-mbp.home.11694.0
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/hparams.yaml
lightning_logs/tft_combined_metrics_weekly_log_target/version_0/projector_config.pbtxt
